name: Test unit and e2e
on:
  push:
    branches: [master]

jobs:
  testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:

      - name: Copy repository
        uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install npm dependencies
        run: npm ci

      - name: Run lint code
        run: npm run lint

      - name: Run unit tests
        run: npm run test

      - name: Run e2e tests
        run: npm run test:e2e

  deploy:
    runs-on: ubuntu-latest
    needs:
      - testing
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
#          password: ${{ secrets.SERVER_PASSWORD }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: sh /var/www/nest_github_actions/deploy.sh

